*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Courier, 'Courier New', Courier, monospace, sans-serif;
}
body{
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #000000, #ee0505ca); */
    background: linear-gradient(135deg, #05073a, #dc0606ca);
    padding: 10px;
}

.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg, #dc0606ca ,#05073a);
}

.container .heading{
    font-size: 25px;
    font-weight: 900;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.container .heading::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b5b);
}
.container form .card-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}
.container .card-details .card-box{
    width : calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input{
    height: 45px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: 0 all 0.3s ease;
}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
}

form .button{
    text-align: center;
}

form .button input{
    /* height: 100%; */
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #05073a, #dc0606ac);

}
form .button input:hover{
    background: linear-gradient(-135deg, #05073a, #dc0606ac);
}

@media screen and (max-width: 584px){
    .container{
        max-width: 100%;
    }
    .container .card-details .card-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .circal-form .category{
        width: 100%;
    }
    .container form .card-details{
        max-height: 300px;
        overflow: scroll;
    }
    .card-details::_webkit-scrollbar{
        width: 0;
    }
}